[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=MailReader
X-XFCE-CommandsWithParameter=/usr/bin/mailspring "%s"
Icon=mailspring
Name=mailspring
X-XFCE-Commands=/usr/bin/mailspring

