[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=TerminalEmulator
X-XFCE-CommandsWithParameter=/home/mithic/.local/bin/alacritty "%s"
Icon=alacritty
Name=alacritty
X-XFCE-Commands=/home/mithic/.local/bin/alacritty

