[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=WebBrowser
X-XFCE-CommandsWithParameter=/home/mithic/.local/bin/dmenu-browser "%s"
Icon=librewolf
Name=Dmenu Browser
X-XFCE-Commands=/usr/bin/librewolf

