[user]
	email = rpc01234@gmail.com
	name = MithicSpirit
	signingKey = FEA8F724F2800E40
[commit]
	gpgSign = true
[gpg]
	program = gpg
[pull]
	rebase = false
[init]
	defaultBranch = main
[github]
	user = MithicSpirit
[credential]
	helper = --get
	helper = --get
	helper = cache
	helper = cache
[gc]
	autoDetach = true
	autoDetach = false
	autoDetach = false
	autoDetach = false
[pager]
	diff = bat -p
	show = bat -p
	log = bat -p
	reflog = bat -p
[branch]
	autoSetupMerge = true
