/Authy Desktop/
/Bitwarden/
/BraveSoftware/
/Element/
/Epic/
/GIMP/
/Logseq/
/PCSX2/
/PrismLauncherrc
/Salad/
/Sandbox Interactive GmbH/
/Signal/
/UNDERTALE*/
/VSCodium/
/Vieb/
/akonadi*
/autostart/
/calibre/
/chromium/
/dconf/
/emacs/
/fragments/
/ghb/
/inkscape/
/ipython/
/j9/
/kdeconnect/
/libfm/
/libreoffice/
/lutris/
/paradox-launcher-v2/
/pavucontrol.ini
/pulse/
/pupgui/
/qBittorrent/
/solaar/
/torbrowser/
/unity3d/
/wireshark/

!/.gitignore
