/*

!/.chktexrc
!/Kvantum/
!/Mangohud/
!/agda/
!/alacritty.yml
!/an2linux/config
!/bat/
!/betterlockscreenrc
!/bottom/
!/broot/
!/btop/
!/cabal/
!/ccache/
!/clipcat/
!/dialogrc
!/doom/
!/dunst/
!/fish/
!/flameshot/
!/fontconfig/
!/gamemode.ini
!/ghcup/
!/git/
!/glow/
!/greenclip.toml
!/gtk-2.0
!/gtk-3.0
!/htop/
!/kded5rc
!/kdedefaults/
!/kdeglobals
!/korganizerrc
!/latexmk/
!/linux-xanmod/
!/mimeapps.list
!/mpv/
!/neofetch/
!/nvim/
!/onedrive/
!/paru/
!/pcmanfm/
!/picom.conf
!/procs/
!/qalculate/
!/qt5ct/
!/qt6ct/
!/qtile/
!/qutebrowser/
!/radeon-profile/
!/ranger/
!/redshift.conf
!/rg.conf
!/rofi/
!/starship.toml
!/sxhkd/
!/systemd/
!/tmux/
!/twmn/
!/user-dirs.dirs
!/user-dirs.locale
!/vis/
!/xfce4/
!/xournalpp/
!/xresources/
!/zathura/
!/zsh/

!/.gitignore
